---
import Layout from "../layouts/Layout.astro";
import VideoCard from "../components/VideoCard.astro";

interface Video {
  id: string;
  title: string;
  thumbnail: string;
  embedUrl: string;
}

const response = await fetch("http://localhost:3000/api/getAllVideos");
const videos: Video[] = await response.json();
---

<Layout title="Welcome to Astro.">
  <main class="min-h-[200vh] w-full flex flex-col">
    <div class="sticky top-0 z-10">
      <nav
        class="navbar bg-base-100 flex flex-col sm:flex-row gap-2 justify-between items-center px-4 py-4 backdrop-blur-sm bg-opacity-70"
      >
        <a class="btn btn-ghost normal-case text-xl">Your Website</a>
        <input
          type="text"
          placeholder="Type here"
          class="input input-bordered w-full max-w-2xl"
        />
      </nav>
      <div class="h-0.5 bg-primary"></div>
    </div>
    <div class="grow bg-base-300">
      <section
        class="py-8 px-4 grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 items-start gap-8"
      >
        <!-- {
          videos.map((video) => (
            <VideoCard title={video.title} thumbnail={video.thumbnail} />
          ))
        } -->
      </section>
    </div>
  </main>
</Layout>
