---
interface Props {
  title: string;
  thumbnail: string;
}

const { title, thumbnail } = Astro.props;
---

<div
  class="card w-full bg-base-100 hover:bg-primary hover:text-primary-content transition-all hover:ring-2 hover:ring-primary-content cursor-pointer hover:shadow-xl"
>
  <figure class="h-56">
    <img class="object-cover w-full h-full" src={thumbnail} alt={title} />
  </figure>
  <div class="card-body">
    <h3 class="card-title">{title}</h3>
  </div>
</div>
